<p id="notice"><%= notice %></p>

<p>
  <b>Fluid:</b>
  <%= @unit.Fluid %>
</p>

<p>
  <b>Group:</b>
  <%= @unit.Group %>
</p>

<p>
  <b>Sn:</b>
  <%= @unit.SN %>
</p>

<p>
  <b>Chnull:</b>
  <%= @unit.chNull %>
</p>

<p>
  <b>Chtcr:</b>
  <%= @unit.chTCR %>
</p>

<p>
  <b>Crnull:</b>
  <%= @unit.crNull %>
</p>

<p>
  <b>Crtcr:</b>
  <%= @unit.crTCR %>
</p>

<p>
  <b>Fullsn:</b>
  <%= @unit.fullSN %>
</p>

<p>
  <b>Hyst:</b>
  <%= @unit.hyst %>
</p>

<p>
  <b>Lin:</b>
  <%= @unit.lin %>
</p>

<p>
  <b>Nfsoset:</b>
  <%= @unit.nfsoSet %>
</p>

<p>
  <b>Nullset:</b>
  <%= @unit.nullSet %>
</p>

<p>
  <b>Rhnull:</b>
  <%= @unit.rhNull %>
</p>

<p>
  <b>Rhtcr:</b>
  <%= @unit.rhTCR %>
</p>


<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
